# Android Studio / IntelliJ IDEA
.idea/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.idea/appInsightsSettings.xml
.idea/codeStyles/
.gradle

# Android build folders
/build
/app/build
/captures
.externalNativeBuild
.cxx

# Local configuration file
local.properties

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Keystore files
*.jks
*.keystore

# Log Files
*.log